/*--whole html tag--*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #18191A;
    color: #fff;
}

/*--header--*/
nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 47px;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #242526;
    border-bottom: 1px solid #3A3B3C;
}

/*--facebook icon--*/
nav .left .logo img{
    height: 34px;
    cursor: pointer;
    margin-bottom: -4px;
    background-color: #242526;
}

nav .left{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    background-color: #242526;
}

nav .left .search{
    display: flex;
    position: relative;
    height: 33px;
    left: -3px;
    margin-left: 10px;
    padding: 10px;
    width: 37px;
    border-radius:65px;
    background-color: #3A3B3C;
}

nav .left .search i{
    background-color: #3A3B3C;
}

nav .middle{
    display: flex;
    position: relative;
    left: 20px;
    right: 0px;
    background-color: #242526;
}

nav .middle a{
    background-color: #242526;
}
nav .middle i{
    font-size: 18px;
    margin: 0 6px 0 6px;
    padding: 14px 40px;
    color: gray;
    background-color: #242526;
}

nav .middle a i.active{
    color: #2e81f4;
    border-bottom: 3px solid #2e81f4;
}

nav .middle a i.fa-house:hover{
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background-color:#3A3B3C;
}

nav .middle a i.fa-store:hover{
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background-color:#3A3B3C;
}

nav .middle a i.fa-users:hover{
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background-color:#3A3B3C;
}

nav .middle a i.fa-gamepad:hover{
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background-color:#3A3B3C;
}

nav .right{
    align-items: center;
    display: flex;
    margin-right: 10px;
    background-color: #242526;
}

nav .right i{
    color: #E4E6EB;
    cursor: pointer;
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    margin-left: 8px;
    padding-left: 8px;
    width: 35px;
    border-radius: 50%;
    background-color: #3A3B3C;
}

nav .right img{
    cursor: pointer;
    object-fit: cover;
    object-position: center;
    height: 35px;
    line-height: 45px;
    margin-left: 8px;
    width: 35px;
    border-radius: 50%;
}

nav .right a{
    margin-top: 2px;
    background-color: #242526;
}

/*------------video main body---------------*/

.vmain{
    display: flex;
    margin-top: 40px;
    background: #18191A;
}

/*------------video side bar--------------*/
.vsbcon{
    max-width: 350px;
    margin-left: 0px;
    height: 100%;
    background-color: #242526;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 10px;
    

}
h2 {
    color: #fff;
    background-color: #242526;
    margin-top: 60px;
    left: 30px;
  }

.sbsearch{
    display: flex;
    position: relative;
    height: 37px;
    left: 0px;
    margin-top: 10px;
    margin-left: 15px;
    padding: 10px;
    width: 307px;
    border-radius: 28px;
    background-color: #3A3B3C;
    }


.sbsearch i{
    font-size: 16px;
    line-height: 15px;
    margin-top: 1px;
    margin-right: 5px;
    color: #B0B3B8;
    background-color: #3A3B3C;
    }
.sbsearch input{
    font-size: 12.5px;
    outline: none;
    width: 180px;
    border: 0;
    color: #B0B3B8;
    background-color: #3A3B3C;
    }
    
/*-------------------------------*/
.vsbicons{
    align-items: center;
    cursor: pointer;
    display: flex;
    border-radius: 5px;
    transition: 0.2s;
    background-color: #242526;
}
    
.vsbicons p{
    font-size: 15px;
    font-weight: 600;
    margin: 20px;
    color: #B0B3B8;
    background-color: #3A3B3C;
    
    
}
.vsbicons img{
    color:#E4E6EB;
    background-color: #242526;
    object-fit: cover;
    object-position: center;
    height: 35px;
    margin: 8px 15px 8px 0;
    width: 35px;
    border-radius: 50%;
}

.vsbicons p{
    background-color: #242526;
}
    
.vsbicons:hover{
    cursor: pointer;
    background-color: #4b4c4e;
}

.vsbicons:hover p{
    background-color: #4b4c4e;
}

.vsbicons:hover img{
    background-color: #4b4c4e;
}
    
.main hr{
    height: 3px;
    margin: 10px 0;
    width: 100%;   
    border: 0;
    background-color: #242526;
}
    
.main h2{
    font-size: 13px;
    font-weight: 600;
    color: #B0B3B8;
}
    
.main .edit{
    float: right;
    position: relative;
    color: #2e81f4;
    bottom: 15px;
    font-size: 12px;
    font-weight: 200;
    opacity: 0;
    }
    
.main h2:hover .edit{
    opacity: 1;
}
    
/*------------video post--------------*/
/*Post Section*/
.posts{
    height: auto;
    margin: 9px 3px;
    padding: 10px 0;
    width: 79%;
    border-radius: 7px;
    background-color: #242526;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.post-image img{
    width: 100%;
}

.posts .posts-top{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: #242526;
}

.posts .posts-top .image-name{
    align-items: center;
    display: flex;
    padding: 0 8px;
    background-color: #242526;
}

.posts .posts-top .image-name img{
    cursor: pointer;
    object-fit: cover;
    object-position: center;
    height: 28px;
    margin-right: 8px;
    width: 28px;
    border-radius: 50%;
    background-color: #242526;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}

.posts .posts-top .image-name .friend-name .friend-name{
    cursor: pointer;
    color:#E4E6EB;
    font-weight: bold;
    font-size: 12px;
    background-color: #242526;
}

.posts .posts-top .image-name .friend-name .friend-name:hover{
    text-decoration: underline;
}

.posts .posts-top .image-name .friend-name .time{
    font-size: 9px;
    font-weight: bold;
    color: #B0B3B8;
    background-color: #242526;
}

.posts .posts-top .image-name .friend-name i{
    background-color: #242526;
}

.posts .posts-top .menu{
    align-items: center;
    display: flex;
    margin-left: 15px;
    background-color: #242526;
}

.posts .posts-top .menu i{
    color: #E4E6EB;
    cursor: pointer;
    font-size: 13px;
    height: 30px;
    line-height: 35px;
    margin-left: 8px;
    padding-left: 10px;
    width: 30px;
    border-radius: 50%;
    background-color: #242526;
}
.posts .posts-top .menu i:hover{
    background-color: #3A3B3C;
}

.posts img{
    width: 100%;
    height: 300px;
    margin-right: 10px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.posts .text-post{
    color: #E4E6EB;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #242526;
}

.posts .info{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    background-color: #242526;
}

.posts .info .emojis{
    display: flex;
    background-color: #242526;
}

.posts .info .emojis img{
    width: 14px;
    height: 14px;
    margin-left: -7px;
    background-color: #242526;
}

.posts .info .emojis p{
    color: #919191;
    font-size: 12px;
    padding: 0 1px;
    background-color: #242526;
}

.posts .info .comment{
    align-items: center;
    display: flex;
    background-color: #242526;
}

.posts .info .comment p{
    color: #919191;
    font-size: 12px;
    padding: 0 6px;
    background-color: #242526;
}

.posts hr{
    height: 1px;
    margin: 10px 0;
    width: 100%;
    border: 0;
    background-color: #4b4c4e;
}

.posts .like-cs{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;
    background-color: #242526;
}

.posts .like-cs .post-icon{
    align-items: center;
    display: flex;
    background-color: #242526;
}

.posts .like-cs .post-icon i{
    color: #919191;
    font-size: 16px;
    margin-right: 12px;
    background-color: #242526;
}

.posts .like-cs .post-icon p{
    color: #919191;
    font-size: 12px;
    font-weight: bold;
    background-color: #242526;
}

.posts .like-cs .post-icon i.active{
    color: #2e81f4;
}

.posts .comments{
    align-items: center;
    display: flex;
    background-color: #242526;
}

.posts .comments img{
    cursor: pointer;
    object-fit: cover;
    object-position: center;
    height: 28px;
    line-height: 45px;
    margin-left: 8px;
    width: 28px;
    border-radius: 50%;
    background-color: #242526;
}

.posts .comments .circle img{
    position: relative;
    height: 11px;
    right: 26px;
    top: 12px;
    width: 11px;
    border: 2px solid ;
    border-radius: 50%;
    background-color: transparent;
}

.posts .comments .comment-section{
    padding: 0 10px;
    width: 95%;
    border-radius: 30px;
    background-color: #242526;
}

.posts .comments .comment-section input{
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    margin-left: 20px;
    outline: none;
    padding: 8px;
    width: 90%;
    border: 0;
    border-radius: 30px;
    background-color: #3A3B3C;
}

.posts .comments .comment-section i{
    height: 14px;
    width: 14px;
    margin-left: -5px;
    padding: 0 2px;
    background-color: #242526;
}

.posts .comments .comment-section img{
    height: 14px;
    width: 14px;
    padding: 0;
    margin-left: -7px;
    background-color: #242526;
}

.post-options{
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    color: #B0B3B8;
    font-size: medium;
    padding: 15px;
    padding-top: 10px;
    border-top: 1px solid #B0B3B8;
    background-color: #242526;
}

.post-button{
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 5px;
    background-color: #242526;
}

.post-button p{
    margin-left: 10px;
    background-color: #242526;
}

.post-button .material-symbols-outlined{
    background-color: #242526;
}

.post-button:hover{
    border-radius: 10px;
    background-color: #4b4c4e;
}

.post-button:hover p{
    background-color: #4b4c4e;
}
.post-button:hover .material-symbols-outlined{
    background-color: #4b4c4e;
}


.posts {
    /* Set the overall style for the posts container */
    width: 560px; 
    margin: 20px auto; /* Center the posts container horizontally */

    /* Center the posts container vertically */
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.posts-top {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0; 
}

.text-post {
    /* Style the post text */
    margin: 10px;
}