/*--whole html tag--*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #18191A;
}

/*--header--*/
nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 47px;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #242526;
    border-bottom: 1px solid #3A3B3C;
}

/*--facebook icon--*/
nav .left .logo img{
    height: 34px;
    cursor: pointer;
    margin-bottom: -4px;
    background-color: #242526;
}

nav .left{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    background-color: #242526;
}

nav .left .search{
    display: flex;
    position: relative;
    height: 33px;
    left: -3px;
    margin-left: 10px;
    padding: 10px;
    width: 203px;
    border-radius: 28px;
    background-color: #3A3B3C;
}

nav .left .search i{
    font-size: 16px;
    line-height: 15px;
    margin-right: 5px;
    color: #B0B3B8;
    background-color: #3A3B3C;
}
nav .left .search input{
    font-size: 12.5px;
    outline: none;
    width: 180px;
    border: 0;
    color: #B0B3B8;
    background-color: #3A3B3C;
}

nav .middle{
    display: flex;
    position: relative;
    right: 56px;
    background-color: #242526;
}

nav .middle a{
    background-color: #242526;
}
nav .middle i{
    font-size: 18px;
    margin: 0 6px 0 6px;
    padding: 14px 40px;
    color: gray;
    background-color: #242526;
}

nav .middle a i.active{
    color: #2e81f4;
    border-bottom: 3px solid #2e81f4;
}

nav .middle a i.fa-tv:hover{
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background-color:#3A3B3C;
}

nav .middle a i.fa-store:hover{
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background-color:#3A3B3C;
}

nav .middle a i.fa-users:hover{
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background-color:#3A3B3C;
}

nav .middle a i.fa-gamepad:hover{
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background-color:#3A3B3C;
}

nav .right{
    align-items: center;
    display: flex;
    margin-right: 10px;
    background-color: #242526;
}

nav .right i{
    color: #E4E6EB;
    cursor: pointer;
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    margin-left: 8px;
    padding-left: 8px;
    width: 35px;
    border-radius: 50%;
    background-color: #3A3B3C;
}

nav .right img{
    cursor: pointer;
    object-fit: cover;
    object-position: center;
    height: 35px;
    line-height: 45px;
    margin-left: 8px;
    width: 35px;
    border-radius: 50%;
}

/*------------------END OF NAVBAR------------------------*/


.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 3px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right:0;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}
.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70%;
    align-self: flex-start;
}
.right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70%;
    align-self: flex-start;
    background: #fff;
    border-radius: 4px;
    color: #626262;
}
.main-content{
    flex-basis: 47%;
}
.imp-links a, .shortcut-links a{
    text-decoration:none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
.imp-links img{
    width: 25px;
    margin-right: 15px;

}
.imp-links a:last-child{
    color: #1876f2;
}
.imp-links{
    border-bottom: 1px solid #ccc;
}
.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}
.shortcut-links p{
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
}
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.sidebar-title h4{
    font-weight: 600;
    font-size: 16px;
}
.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}
.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-1.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.story img{
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 5px solid #1876f2;
}
.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align:center;
    color: #fff;
    font-size: 12px;
}
.story1{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-1.png);
}
.story2{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-2.png);
}
.story3{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-3.png);
}
.story4{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-4.png);
}
.story5{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(images/status-5.png);
}
.story.story1 img{
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 35px;

}
.write-post-container{
    width: 100%;
    background: #18191A;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color:#626262;
}
.user-profile small{
    font-size: 12px;
}
.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}
.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}
.add-post-links{
    display: flex;
    margin-top: 10px;
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #525252;
    margin-right: 30px;
    font-size: 13px;
}
.add-post-links img{
    width: 20px;
    margin-right: 10px;
}
.post-container{
    width: 100%;
    background: #18191A;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}
.user-profile span{
    font-size: 12px;
    color: #9a9a9a;
}
.post-text{
    color: #9a9a9a;
    margin: 0px;
    font-size: 15px;
    border-radius: 4px;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}
.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.activity-icons div img{
    width: 18px;
    margin-right: 10px;
}
.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}
.post-profile-icons img{
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.post-row a{
    color: #9a9a9a;
}

/*----------------------profile page--------------------*/

.profile-container{
    padding: 20px 15%;
    color: #626262;
}
.cover-img{
    width: 104.5%;
    border-radius: 6px;
    margin-bottom: 14px;
}
.profile-details{
    background: #18191A; 
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.pd-row{
    display: flex;
    align-items: flex-start;
}
.pd-images{
    width: 100px;
    margin-right:20px;
    border-radius: 50%;
}
.pd-row div h3{
    font-size: 25px;
    font-weight: 600;
}
.pd-row div p{
    font-size: 13px;
}
.pd-row div img{
    width: 25px;
    border-radius: 50%;
    margin-top: 12px;
}
.pd-right button{
    background: #1876f2;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #18191A;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}
.pd-right img{
    height: 15px;
    margin-right: 10px;
}
.pd-right button:first-child{
    background: #e4e6eb;
    color: black;
}
.pd-right{
    text-align: right;
}
.pd-right a{
    background: #18191A;
    border-radius: 3px;
    padding: 12px;
    display: inline-flex;
    margin-top: 30px;
}


/*-----------------------END OF PROFILE PAGE-------------------------*/